<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GM CAR A/C SERVICE &amp; MULTIBRAND BILLING</title>
    <link rel="stylesheet" href="/static/css/admin.css" />
  </head>
  <body>
    <div class="auth-wrapper">
      <div class="auth-card">
        <h1>GM CAR A/C SERVICE &amp; MULTIBRAND BILLING</h1>
        <p>This application now hosts the billing system.</p>
        <a class="button" href="{{ url_for('admin_login') }}">Go to Admin Login</a>
      </div>
    </div>
  </body>
</html>
